#dreamsites_referafriend input {
    margin-bottom: 15px;
    width: 300px;
    display: block;
}

#dreamsites_referafriend button {
	width: 300px;
}

#dreamsites_referafriend h1 {
	margin-bottom: 20px;
}

#dreamsites_referafriend {
	padding: 20px;
}