<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Layer">
        <plugin name="dreamsites_ultimatesearch_catalog_search" type="DreamSites\UltimateSearch\Plugin\Model\Layer" />
    </type>
    <type name="Magento\CatalogSearch\Controller\Result\Index">
        <plugin name="dreamsites_ultimatesearch_result_index" type="DreamSites\UltimateSearch\Plugin\Controller\Result\Index" />
    </type>
</config>
