<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="DreamSites\ImageUpload\Model\ImageInterface" type="Image" />
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="dreamsites_imagelist_listing_data_source" xsi:type="string">DreamSites\ImageUpload\Model\ResourceModel\Image\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="DreamSites\ImageUpload\Model\ResourceModel\Image\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">dreamsites_imageupload</argument>
            <argument name="eventPrefix" xsi:type="string">dreamsites_imagelist_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">dreamsites_imagelist_collection</argument>
            <argument name="resourceModel" xsi:type="string">DreamSites\ImageUpload\Model\ResourceModel\Image</argument>
        </arguments>
    </type>
    <virtualType name="ImageGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="ImageGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">DreamSites\ImageUpload\Model\ResourceModel\Image\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">ImageGridFilterPool</argument>
        </arguments>
    </virtualType>
</config>
