<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="productadmin" translate="label" sortOrder="401" class="ds-extensions">
            <label>Dream Sites Extensions</label>
        </tab>
        <section id="productadmin" translate="label" type="text" sortOrder="2000" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Home Products Configuration</label>
            <tab>productadmin</tab>
            <resource>DreamSites_HomeProducts::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Home Products Configuration</label>
                <field id="product_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Home Products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="homeproductscsv" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Home Product IDs</label>
                    <validate>required-entry</validate>
                    <comment>comma separated values</comment>
                    <depends>
                        <field id="product_enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
