<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Ukpos\KnowledgeHub\Model\TagInterface" type="Ukpos\KnowledgeHub\Model\Tag" />
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="tag_taglist_listing_data_source" xsi:type="string">Ukpos\KnowledgeHub\Model\ResourceModel\Tag\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Ukpos\KnowledgeHub\Model\ResourceModel\Tag\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">ukpos_knowledgehub_tag</argument>
            <argument name="eventPrefix" xsi:type="string">tag_taglist_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">tag_taglist_collection</argument>
            <argument name="resourceModel" xsi:type="string">Ukpos\KnowledgeHub\Model\ResourceModel\Tag</argument>
        </arguments>
    </type>
    <virtualType name="TagGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="TagGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Ukpos\KnowledgeHub\Model\ResourceModel\Tag\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">TagGridFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Ukpos\KnowledgeHub\ArticleImageUpload" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">cms_page/tmp/upload</argument>
            <argument name="basePath" xsi:type="string">cms_page/upload</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Ukpos\KnowledgeHub\Controller\Adminhtml\Article\Image\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Ukpos\KnowledgeHub\ArticleImageUpload</argument>
        </arguments>
    </type>
</config>