<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="DreamSites_ReferaFriend::referafriend" title="Refer a Friend" module="DreamSites_ReferaFriend" sortOrder="45" resource="DreamSites_ReferaFriend::referafriend" parent="Magento_Backend::stores"/>
        <add id="DreamSites_ReferaFriend::referlist" title="Referrals History" module="DreamSites_ReferaFriend" sortOrder="10" parent="DreamSites_ReferaFriend::referafriend" action="referral/referlist" resource="DreamSites_ReferaFriend::referlist"/>
        <add id="DreamSites_ReferaFriend::configuration" title="Configuration" module="DreamSites_ReferaFriend" sortOrder="100" action="adminhtml/system_config/edit/section/referafriendadmin" resource="DreamSites_ReferaFriend::configuration" parent="DreamSites_ReferaFriend::referafriend"/>
    </menu>
</config>