<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="dreamsites" translate="label" sortOrder="401" class="ds-extensions">
            <label>Dream Sites</label>
        </tab>
        <section id="dreamsites_customerphotos" translate="label" type="text" sortOrder="2000" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Customer Photos Configuration</label>
            <tab>dreamsites</tab>
            <resource>DreamSites_CustomerPhotos::config_customerphotos</resource>
            <group id="customerphotos" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Customer Photos Configuration</label>
                <field id="product_enabled" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable Customer Photos</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
